<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a appDirectiva class="nav-link"  [routerLink]="['login']" [routerLinkActive]="['active']">Login</a>
      </li>
      <li class="nav-item active">
        <a appDirectiva class="nav-link"  [routerLink]="['home']" [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item">
        <a appDirectiva class="nav-link" [routerLink]="['equipos']" [routerLinkActive]="['active']">Equipos</a>
      </li>
      <li class="nav-item">
        <a appDirectiva class="nav-link" [routerLink]="['torneo']" [routerLinkActive]="['active']">Equipo personalizado</a>
      </li>
      <li class="nav-item active">
        <a appDirectiva class="nav-link" (click)="logout();">Logout</a>
      </li>
    </ul>

  </div>
</nav>
