<div class="container">
  <h1>Nuevo equipo</h1>
  <form [formGroup]="formEquipo" (ngSubmit)="crear(formEquipo)">
    <div class="row mb-3">
      <label for="inputName" class="col-sm-2 col-form-label">Nombre equipo</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputName" formControlName="name"
        [ngClass]="{'is-valid': nameValid, 'is-invalid': nameValid==false}">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputdesc" class="col-sm-2 col-form-label">Descripción</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputdesc" formControlName="desc">
      </div>
    </div>
    <div class="form-group">
      <label for="divisions">División</label>
      <select id="divisions" name="divisions" formControlName="divisio" class="form-control">
        <option *ngFor="let div of divisions" [value]="div.name"> {{div.name}}</option>
      </select>
      </div>
    <button type="submit" (click)="onSubmit()" class="btn btn-primary" >Crear</button>
    <br><br><br><br>
    <div *ngIf="formSubmitAttempt==true" class="card" id="card" style="width: 18rem;">
      <div class="card-body">
        <img [ngStyle]="{'width.px': 255}" class="card-img-top" src='./../../../assets/img/fotojordan.png' alt="Tu equipo personalizado">
        <h5 class="card-title">{{formEquipo.controls.name.value}}</h5>
        <p class="card-text">{{formEquipo.controls.desc.value}}</p>
        <p class="card-text">{{formEquipo.controls.divisio.value}}</p>
      </div>
    </div>
  </form>
  </div>
