<div class="panel">
  <div class="panel__media">
      <img src="/assets/img/983277-golden-state-warriors-nba-basketball-748x421.jpg" alt="Torneos">
  </div>
  <div class="panel__content">
      <h1 class="huno">Equipo personalizado</h1>
      <p class="pe">Crea tu propio equipo eligiendo su nombre y su división!</p>
  </div>
</div>

<div class="panel">
  <div class="panel__media">
    <img src="/assets/img/45-458744_penny-hardaway.jpg" alt="Equipos">
  </div>
  <div class="panel__content">
      <h1 class="huno">Equipos</h1>
      <p class="pe">Busca entre todos los equipos de la NBA y visita su información de jugadores y mucho más!</p>
  </div>
</div>

