<br>
<img src={{equipo.png}} height="300px" width="300px">
<h1>{{equipo.full_name}}</h1>
<h3>Presupuesto: {{equipo.presupuesto | presupuesto}}$</h3>
<table class="table table-dark">

  <tbody>
    <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.nombre}}</td>
    </tr>
    <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.pos}}</td>
    </tr>
    <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.no}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.altura}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.peso}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.cumpleanyos | slice:7:12}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.edad}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.exp}}</td>
      </tr>
      <tr>
      <td *ngFor="let player of equipo.players; let i = index">{{player.escuela}}</td>

    </tr>
  </tbody>
</table>
